/* 기본 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배경과 기본 폰트 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    padding: 20px 0;
    margin-bottom: 20px;
}

header nav {
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #f39c12;
}

/* 메인 콘텐츠 */
main {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

/* 버튼 스타일 */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* 기본 레이아웃 - 카드 스타일 */
.card {
    background-color: #000000;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    color: #777;
}

/* 푸터 스타일 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    header nav {
        text-align: left;
    }

    header nav a {
        margin: 0 10px;
        font-size: 16px;
    }

    h1 {
        font-size: 2em;
    }
}
